@mixin cta($text, $accent, $alt) {
    @include fonts(btn);

    display: inline-flex;
    color: $color-orange;
    width: auto;
    flex-grow: 0;
    align-items: center;
    line-height: 1.2;
    border-bottom: 1px solid $accent;
    padding-bottom: 5px;

    @include breakpoint(tablet-only) {
        margin-top: 20px;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 11px;
        height: 17px;
        margin-left: 36px;

        @include sassvg('triangle', $accent, 50%, 100%, no-repeat);
    }

    &:hover {
        border-bottom: 1px solid $alt;

        &:after {
            @include sassvg('triangle-filled', $color-blue-dk, 50%, 100%, no-repeat);
        }
    }
}

.cta {
    &__a {
        @include cta($color-blue-dk, $color-orange, $color-blue-lt);       
    }
}

#img-text, #homecats, .card--desc{
    .cta {
    &__a {
        @include cta($color-blue-dk, $color-orange, $color-blue-lt);
        border:1px solid $color-orange;
        padding: 10px;        
        &:hover{
            color: $color-blue-dk;
            background-color: $color-orange;
        }
    }
}
}