#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    z-index: 5;

    @include breakpoint(mobile) {
        overflow: scroll;
    }

    &.is-open {
        display: block;
    }

    .wrapper {
        @include vertical-align();
        height: 100%;

        @include breakpoint(mobile) {
            padding-top: 35px;
            position: relative;
            display: block;
            //margin-top: 3%;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
        }

        #modal--inner {
            background: $color-white;
            padding: 68px 50px 55px;
            border-bottom: 8px solid $color-orange;

            @include breakpoint(tablet-only) {
                padding: 38px 23px;
            }

            @include breakpoint(mobile) {
                padding: 20px;
            }
        }
    }

    #modal--close {
        height: 35px;
        width: 35px;
        background: $color-orange;
        position: relative;
        margin-left: auto;
        cursor: pointer;

        @include breakpoint(mobile) {
            position: absolute;
            top: 0;
            right: 0;
        }

        &::before {
            @include sassvg('plus', $color-white, 0 50%, 24px);
            display: block;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            transform: rotate(45deg);
            top: calc(50% - 14px);
            left: calc(50% - 14px);
        }
    }
}

.gallery-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        right: -10px;
        top: -10px;
        background: #000;
        color: white;
        width: 30px;
        height: 30px;
        font-size: 22px;
        line-height: 25px !important;
        text-align: center;
        border-radius: 999px;
        border: 2px solid rgba(255, 255, 255, .9);
        z-index: 999;
    }

    .close:hover,
    .close:focus {
        color: white !important;
    }

    .close:hover,
    .close:focus {
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content {
        position: relative;
        height: 0;
        max-width: 100%;
        height: auto;
        width: 50%;
        margin: auto;
        background: white;
        padding: 20px;

        //padding-bottom: 33.75%;
        img {
            width: 100%;
        }

        .pagination {
            padding: 20px;
            background: #f2f2f2;
            margin-bottom: 0;

            ul {
                li {
                    display: inline;

                    a {
                        font-size: 18px;
                        font-weight: bold;
                        border: 1px solid #555;
                        background-color: #eee;
                        color: #555;
                        width: 35px;
                        height: 35px;
                        border-radius: 999px;
                        display: inline-block;
                        text-align: center;
                        line-height: 32px !important;
                    }

                    &.active {
                        a {
                            background-color: #143a62;
                            color: #fff;
                        }
                    }
                }
            }
        }

        @include breakpoint(tablet) {
            width: 90%;
        }
    }
    
    
    
@media only screen and (max-width: 1024px) {
    .close {
        right: -15px;
        top: -10px;
    }

    .modal-content {
        position: relative;
        height: 0;
        max-width: 100%;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        width: 90%;
        margin: auto;
    }
}

    
    
}

#gallery-modal {

    .slider {
        width: auto;        
    }

    .slick-slide {
        color: white;
        padding: 0px 0;
        font-size: 30px;
        font-family: "Arial", "Helvetica";
        text-align: center;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .slick-dots {
        bottom: -50px;
        li{
            height: auto;
            width: auto;
            margin: 0 5px;
        }
    }

    a.dot {      
        width: 35px;
        height: 35px;
        border-radius: 99px;
        display: inline-block;
        line-height: 35px;
        background-color: #eee;
        font-weight: bold;
    }

    a.dot:hover {
        background: #ddd;
    }
    
    .slick-active{
        a.dot{
            background-color: #0d2c4d;
            color: #fff;
        }
    }
    
    
    .slick-dotted.slick-slider{
        margin-bottom: 50px;
    }

}
