.slick-slider {
    position: relative;

    @include breakpoint(mobile) {
        background: $color-grey-0;
    }

    .slick-slide {
        display: flex;

        @include breakpoint(mobile) {
            display: block;
        }

        img {
            height: auto;
            width: 100%;
        }
    }

    .slick-dots {
        display: block;
        bottom: 34px;

        li {
            margin: 0 12px;

            @include breakpoint(tablet) {
                margin: 0 7px;
                height: 10px;
                width: 10px;
            }

            button {
                background: $color-grey-0;
                border-radius: 100%;
                height: 100%;
                width: 100%;

                &:before {
                    display: none;
                }
            }

            &.slick-active,
            &:hover {
                button {
                    border-color: $color-orange;
                    background: $color-orange;
                }
            }
        }
    }

    .slick-arrow {
        position: absolute;
        height: 64px;
        width: 64px;
        background: $color-white;
        z-index: 2;

        @include sassvg('triangle-filled', $color-blue-dk, 50%, 15px 23px);

        @include breakpoint(tablet) {
            height: 38px;
            width: 38px;
            @include sassvg('triangle-filled', $color-blue-dk, 50%, 9px 13px);
        }

        @include breakpoint(mobile) {
            height: 35px;
            width: 35px;
        }

        &.slick-prev {
            right: auto;
            left: 0;
            transform: rotate(180deg);
            top: calc(50% - 64px);

            @include breakpoint(tablet-only) {
                top: calc(50% - 38px);
            }

            @include breakpoint(mobile) {
                top: calc(50% - 35px);
            }

            &:before {
                display: none;
            }
        }

        &.slick-next {
            left: auto;
            right: 0;
            top: calc(50% - 32px);

            @include breakpoint(tablet) {
                top: calc(50% - 19px);
            }

            @include breakpoint(mobile) {
                top: calc(50% - 17px);
                right: -1px;
            }

            &:before {
                display: none;
            }
        }
    }
}

.slick-list {
    background: #fff;
}