#criteriaBlock {
    text-align: center;
    padding-top: 40px;

    @include breakpoint(tablet-only) {
        padding-top: 0;
    }

    @include breakpoint(mobile) {
        padding-top: 20px;
    }

    .block--title {
        @include breakpoint(mobile) {
            margin-bottom: 30px;
        }
    }

    .block--content {
        font-weight: 700;
        font-size: 22px;
        text-align: center;

        @include breakpoint(tablet-only) {
            font-size: 20px;
        }
    }

    .criteria {
        margin-top: 40px;
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;

        @include breakpoint(tablet) {
            margin: 40px 0 0;
        }

        @include breakpoint(mobile) {
            margin-top: 20px;
        }

        .criterion {
            flex: 1 0 calc(50% - 18px);
            max-width: 50%;
            margin: 9px;
            border: 2px solid $color-grey-60;
            background-color: $color-white;
            padding: 25px 30px;
            text-align: left;

            @include breakpoint(tablet) {
                flex-basis: calc(50% - 7px);
                margin: 0 7px 14px;
                padding: 25px 20px;

                &:nth-child(odd) {
                    margin-left: 0;
                }

                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            @include breakpoint(mobile) {
                border-width: 1px;
                flex-basis: 100%;
                margin: 10px 0;
                max-width: 100%;
                padding: 20px;
            }

            &--title {
                @extend %serif;

                color: $color-blue-dk;
                font-size: 32px;
                margin-bottom: 25px;

                @include breakpoint(tablet) {
                    font-size: 26px;
                    margin-bottom: 15px;
                }
            }

            &--desc {
                padding: 10px 0;
            }
        }
    }
}