#page-intro,
#opportunities-intro {
    @extend .background__alt;

    text-align: center;

    @include breakpoint(tablet) {
        .wrapper__xs {
            margin: 0 auto;
        }
    }

    @include breakpoint(mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .block {
        &--title {
            margin-bottom: 20px;
        }

        &--content {
            @include fonts(intro-text);
        }
    }
}