#statistics {
    @include breakpoint(desktop) {
        padding-top: 0;
    }

    .statistics-- {
        &title {
            @include fonts('headline1');

            color: $color-white;
            text-align: center;
            margin-bottom: 70px;

            @include breakpoint(tablet-only) {
                margin-bottom: 35px;
            }

            @include breakpoint(mobile) {
                margin-bottom: 45px;
            }
        }

        &list {
            display: flex;
            align-content: stretch;
            justify-content: space-evenly;

            @include breakpoint(tablet-only) {
                flex-wrap: wrap;
            }

            @include breakpoint(mobile) {
                display: block;
            }

            .list--item {
                display: inline-flex;
                flex-direction: column;
                //justify-content: space-between;
                text-align: center;
                //padding: 0 63px;
                width: 25%;
                @include breakpoint(tablet-only) {
                    width: calc(50% - 15px);
                    margin-bottom: 30px;
                }

                @include breakpoint(mobile) {
                    width: 65vw;
                    display: block;
                    margin: auto auto 55px;
                }

                &__img {
                    height: 130px;                   
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include breakpoint(tablet-only) {
                        height: 78px;
                    }

                    @include breakpoint(mobile) {
                        height: auto;
                        width: 100%;
                        display: block;
                    }

                    img {
                        align-self: center;                        
                        @include breakpoint(tablet-only) {
                            transform: scale(.6);
                        }                        
                        @media only screen and (min-width:1025px) {
                        height: 130px !important;
                        width: inherit !important;
                        }
                    }
                }

                &__title {
                    color: $color-orange;
                    font: 400 28px/1.2 'garamond';
                    margin: 10px 0;
                    display: flex;
                    justify-content: center;
                    align-items: baseline;

                    &__num {
                        font-size: 48px;
                        display: flex;
                        align-items: baseline;

                        &:not(:last-child()) {
                            margin-right: 6px;
                        }
                    }
                }

                &__desc {
                    @include fonts(text);

                    color: $color-white;
                    padding-left: 15px;
                    padding-right: 15px;
                    @include breakpoint(tablet) {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
    font-family: inherit;
    line-height: auto;
}

.odometer-inside {
    display: flex;
    align-items: center;
}