//Color Variables
$color-orange: #ef8a22;
$color-blue-lt: #1897cb;
$color-blue-dk: #143a62;
$color-navy: #0d2c4d;
$color-white: #ffffff;
$color-grey-0: #f0f0f0;
$color-grey-20: #d8d8d8;
$color-grey-40: #979797;
$color-grey-60: #898989;
$color-grey-80: #383838;
$color-black: #000000;

$color-error: #db1e1e;
$color-grey-blue: #27394c;