$transition: all 0.3s ease-in-out;
$gutter: 16px;
$shadow: 0px -1px 5px -2px #ddd;
$max-container-width: 1200px;
$max-container-width-wide: 1460px;
$max-container-width-narrow: 1000px;
$max-container-width-xs: 796px;

$general-cms-margin: 25px;

